.blur {
  backdrop-filter: blur(0.5px);
}

.mypage-background {
  background-image: url("/public/assets/images/mypage/mypage_background.webp");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
